<%= stylesheet_link_tag "bootstrap.min" %>
<%= stylesheet_link_tag "pe-icon-7-stroke" %>
<%= stylesheet_link_tag "demo" %>
<%= stylesheet_link_tag "light-bootstrap-dashboard" %>

<%= stylesheet_link_tag "homepage/css/bootstrap" %>
<%= stylesheet_link_tag "homepage/css/font-awesome.min" %>
<%= stylesheet_link_tag "homepage/css/style" %>
<%= stylesheet_link_tag "homepage/vendors/owl-carousel/owl.carousel.min" %>
<%= stylesheet_link_tag "homepage/vendors/lightbox/simpleLightbox" %>
<%= stylesheet_link_tag "homepage/vendors/nice-select/css/nice-select" %>

<div id = "root"></div>
<%= javascript_pack_tag 'index' %>
