<%= stylesheet_link_tag "bootstrap.min" %>
<%= stylesheet_link_tag "pe-icon-7-stroke" %>
<%= stylesheet_link_tag "demo" %>
<%= stylesheet_link_tag "light-bootstrap-dashboard" %>

<div id = "root"></div>
<%= javascript_pack_tag 'index' %>
